<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        this is the page to  add the new restaurant 
    </h1>

    <form action="{% url 'add_restaurant' %}" method="post">
        {% csrf_token %}
        <label>Restaurant name </label>
        <input type="text" name="name">
        <br><br>
        <label> Picture URL </label>
        <input type="url" name="picture">
        <br><br>
        <label>CUISINE  </label>
        <input type="text" name="cuisine">
        <br><br>
        <label>Rating </label>
        <input type="number" name="rating" min="0" max="5">
        <br><br>
       
        <button type="Add Restaurant"></button>
    </form>
</body>
</html>