<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label>Username </label>
        <input type="text" name="username">
        <br><br>
        <label>Password </label>
        <input type="password" name="password">
        <br><br>
        <label>Email </label>
        <input type="email" name="email">
        <br><br>
        <label>Mobile </label>
        <input type="text" name="mobile">
        <br><br>
        <label>Address </label>
        <textarea name="address"></textarea>
        <br><br>
        <button type="submit">SIGN UP</button>
    </form>
</body>
</html>